# Mac OS
.DS_Store

# NPM
npm-*
/package-lock.json
/node_modules/.npminstall.done

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in

# generated translation files
/translations
/locale
