<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//alertifyjs.com/build/css/themes/default.css">
    <link rel="stylesheet" href="//alertifyjs.com/build/css/alertify.css">
    <link rel="stylesheet" href="//kids.abakus.cn/style/login.css">
    <link rel="stylesheet" href="static/plugin.css">
    <link rel="icon" href="static/favicon.ico">
</head>
<body>
    <script src="//kids.abakus.cn/script/login.js"></script>
    <script src="static/plugin.js"></script>
</body>
