<!DOCTYPE html>
<script src="static/plugin.js"></script>
<script>

    window.interface = {
        save: '/project/save',
        push: '/project/push',
        edit: '/project/edit',
    }

    window.plugin = {
        
    }

</script>
<html>
<head>
<title><%= htmlWebpackPlugin.options.title %></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="google" value="notranslate">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="static/favicon.ico">
<link rel="stylesheet" href="static/nprogress.css">
<% if (htmlWebpackPlugin.options.sentryConfig) { %>
    <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
    <script>Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install()</script>
<% } %>
</head>
<body>
</body>
</html>